/* MEDIA QUERYS */
@media (min-width: 125px) and (max-width: 575.98px) {

    /*-----------------------------------------------------------------------------------------------------------------------
                        ESTILOS DE LA BARRA DE NAVEGACIÓN
    -------------------------------------------------------------------------------------------------------------------------*/
    #nav ul .nav-link {
        color: #001524;
        font-size: 1.3em;
    }

    /*-----------------------------------------------------------------------------------------------------------------------
                        ESTILOS DEL FOOTER
    -------------------------------------------------------------------------------------------------------------------------*/
    #footer .fa-facebook-f,
    .fa-instagram,
    .fa-twitter {
        font-size: 2em;
        margin: 0 7px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /*-----------------------------------------------------------------------------------------------------------------------
                            ESTILOS DE LA BARRA DE NAVEGACIÓN
    -------------------------------------------------------------------------------------------------------------------------*/
    #nav ul .nav-link {
        color: #001524;
        font-size: 1.3em;
    }

    /*-----------------------------------------------------------------------------------------------------------------------
                        ESTILOS DE LA SECCION DE HOTELES RECOMENDADOS
    -------------------------------------------------------------------------------------------------------------------------*/
    #hoteles-recomendados .card {
        width: 300px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow:
            0px 0px 6px rgba(0, 0, 0, .4),
            0px 0px 7px rgba(0, 0, 0, .4),
            1px 1px 8px rgba(0, 0, 0, .4),
            2px 2px 9px rgba(0, 0, 0, .4);
        margin: 2em auto;
    }

    /*-----------------------------------------------------------------------------------------------------------------------
                        ESTILOS DE LA SECCION DE AUTOS RECOMENDADOS
    -------------------------------------------------------------------------------------------------------------------------*/
    #autos-recomendados .precio-carro,
    .desde {
        float: right;
    }

    /*-----------------------------------------------------------------------------------------------------------------------
                        ESTILOS DEL FOOTER
    -------------------------------------------------------------------------------------------------------------------------*/
    #footer .fa-facebook-f,
    .fa-instagram,
    .fa-twitter {
        font-size: 1.8em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /*-----------------------------------------------------------------------------------------------------------------------
                            ESTILOS DE LA BARRA DE NAVEGACIÓN
    -------------------------------------------------------------------------------------------------------------------------*/
    #nav ul .nav-link {
        color: #001524;
        font-size: 1.5em;
    }

    /*-----------------------------------------------------------------------------------------------------------------------
                        ESTILOS DE LA SECCION DE HOTELES RECOMENDADOS
    -------------------------------------------------------------------------------------------------------------------------*/
    #hoteles-recomendados .card {
        width: 300px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow:
            0px 0px 6px rgba(0, 0, 0, .4),
            0px 0px 7px rgba(0, 0, 0, .4),
            1px 1px 8px rgba(0, 0, 0, .4),
            2px 2px 9px rgba(0, 0, 0, .4);
        margin: 2em auto;
    }

    /*-----------------------------------------------------------------------------------------------------------------------
                        ESTILOS DEL FOOTER
    -------------------------------------------------------------------------------------------------------------------------*/
    #footer .fa-facebook-f,
    .fa-instagram,
    .fa-twitter {
        font-size: 1.8em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /*-----------------------------------------------------------------------------------------------------------------------
                        ESTILOS DE LA BARRA DE NAVEGACIÓN
    -------------------------------------------------------------------------------------------------------------------------*/
    #nav ul .nav-link {
        color: #001524;
        font-size: 1.7em;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}