/*----------------------------------------------------------------------------------------------------------------------------
                        PALETA DE COLORES A UTILIZAR
#001524
#15616D
#FFECD1
#FF7D00
#78290F
------------------------------------------------------------------------------------------------------------------------------*/

body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

hr.divider{
    margin: 4em 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
}
/*-----------------------------------------------------------------------------------------------------------------------
                        ESTILOS DE LA BARRA DE NAVEGACIÓN
-------------------------------------------------------------------------------------------------------------------------*/
#nav .navbar-toggler {
    background-color: #ff7d00;
}
#nav ul .nav-link{
    color: #001524;
    font-size: 1.2em;
}
#nav ul .nav-link:hover{
    background-color: #15616d57;
    font-size: 1.2em;
    color: black;
}


/*-----------------------------------------------------------------------------------------------------------------------
                        ESTILOS DEL HEADER DE LA PAGINA INICIO
-------------------------------------------------------------------------------------------------------------------------*/
#main-header.hero-image{
    width: 100%;
    height: 320px;
    background-image: url(../img/portada/portada_header_inicio.jpg);
    background-size: 150%;
    animation: main-header-movement 20s linear alternate infinite;
    border-radius: 5px;
    box-shadow: 
    0px 0px 3px rgba(0, 0, 0, .5),
    1px 1px 5px rgba(0, 0, 0, .6),
    -1px -1px 5px rgba(0, 0, 0, .6);
    position: relative;
}

#main-header .main-header-title{
    position: absolute;
    bottom: 3px;
    left: 5px;
    font-size: 2.5em;
    color: #001524;
    filter: opacity(.8);
}


/*-----------------------------------------------------------------------------------------------------------------------
                        ESTILOS DE LA SECCION NUESTROS SERVICIOS PAGINA PRINCIPAL
-------------------------------------------------------------------------------------------------------------------------*/
#nuestros-servicios{
    margin: 4em 0px;
    text-align: center;
    padding: 2em 0;
}
#nuestros-servicios .title{
    font-size: 4em;
    margin-bottom: 1.5em;
    color: #001524;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .4);

}
#nuestros-servicios div.servicio-hoteles{
    width: 100%;
    height: 300px;
    background-image: url(../img/hoteles/melia-internacional.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(1);
    padding: 7px;
    cursor: pointer;
}
#nuestros-servicios div.servicio-autos{
    width: 100%;
    height: 300px;
    background-image: url(../img/autos/MAXUS5.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(1);
    padding: 7px;
    cursor: pointer;
}
#nuestros-servicios div.servicio-hoteles:hover{
    filter: opacity(.6);
    transition: 1s ease-in-out 0.1s;
    color: white;
}
#nuestros-servicios div.servicio-autos:hover{
    filter: opacity(.6);
    transition: 1s ease-in-out 0.1s;
    color: white;
}
#nuestros-servicios h3.servicios-title{
    font-size: 2em;
    color: black;
    position: absolute;
    right: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
}
#nuestros-servicios a{
    text-decoration: none;
}


/*-----------------------------------------------------------------------------------------------------------------------
                        ESTILOS DE LA SECCION HOTELES RECOMENDADOS
-------------------------------------------------------------------------------------------------------------------------*/
#hoteles-recomendados {
    margin: 4em 0px;
    text-align: center;
    padding: 2em 0;
}
#hoteles-recomendados .title{
    font-size: 4em;
    margin-bottom: 1.5em;
    color: #001524;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
}
#hoteles-recomendados .card{
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 
    0px 0px 1px rgba(0, 0, 0, .3),
    0px 0px 2px rgba(0, 0, 0, .4);
}
#hoteles-recomendados .card:hover{
    box-shadow: 
    0px 0px 1px inset rgba(0, 0, 0, .3),
    0px 0px 2px inset rgba(0, 0, 0, .4),
    1px 1px 3px inset rgba(0, 0, 0, .5),
    -1px -1px 4px inset rgba(0, 0, 0, .6);
}
.fa-star{
    color: #d8b02c;
}
#hoteles-recomendados .list-group-item{
    text-align: left;
}
a.btn{
    background-color: #001524;
    color: #ff7b00c4;
    text-decoration: none;
    box-shadow: 
    0px 0px 2px rgba(0, 0, 0, .4), 
    1px 1px 4px rgba(0, 0, 0, .5),
    2px 2px 6px rgba(0, 0, 0, .6);
    float: left;
}
a.btn:hover{
    color: #ff7d00;
    background-color: #001524ee;
}
#hoteles-recomendados .card .precio{
    float: right;
    color: #ff7d00;
    background-color: #001524;
    border-radius: 5px 5px 5px 5px;
    padding: 7px;
}


/*-----------------------------------------------------------------------------------------------------------------------
                        ANIMACIONES CSS
-------------------------------------------------------------------------------------------------------------------------*/
div.parallax{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 350px;
    overflow: auto;
}
div.ventana-playa{
    background: url(../img/ventanas/playa.jpg) 0 / cover fixed;
    box-shadow: 
    0px 0px 2px inset rgba(0, 0, 0, .3),
    0px 0px 3px inset rgba(0, 0, 0, .5),
    0px 0px 4px inset rgba(0, 0, 0, .6);
    margin: 2em 0px;
}






/*-----------------------------------------------------------------------------------------------------------------------
                        ANIMACIONES CSS
-------------------------------------------------------------------------------------------------------------------------*/
@keyframes main-header-movement{
    from{
        background-position: bottom left;
    }
    to{
        background-position: top right;
    }
}








