/*----------------------------------------------------------------------------------------------------------------------------
                        PALETA DE COLORES A UTILIZAR
#001524
#15616D
#FFECD1
#FF7D00
#78290F
------------------------------------------------------------------------------------------------------------------------------*/

body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*-----------------------------------------------------------------------------------------------------------------------
                        ESTILOS DE LA BARRA DE NAVEGACIÓN
-------------------------------------------------------------------------------------------------------------------------*/
#nav .navbar-toggler {
    background-color: #ff7d00;
}
#nav ul .nav-link{
    color: #001524;
    font-size: 1.2em;
}
#nav ul .nav-link:hover{
    background-color: #15616d57;
    font-size: 1.2em;
    color: black;
}












