{% extends "base.html.twig" %}

{% block body %}
    <h1>Listado de hoteles</h1>
    <table>
         <thead>
             <tr role="row">
                <th>Nombre</th>
                <th>Disponibilidad</th>
                <th>Rango</th>
                <th>Costo</th>
                
            </tr>
         </thead>
         <tbody>
        {% if hoteles is defined %}
        {%for hotel in hoteles%}
            <tr role="row">
                <td>{{hotel.getNombre}}             |</td>
                <td>{{hotel.getDisponibilidad}} </td>
               {# <td><a href = "{{path('reservar_hotel',{'habitacion':hotel.getTipoHab[0]})}}" >Reservar</a> Reservar</td> #}
                <td><a href ="{{path('crear_habitacion',{'idH':hotel.getId})}}">Agregar Habitacion</a></td>
            </tr>
        {%endfor%}
        {%endif%}
        </tbody>
    </table>
   
{% endblock%}